Esercizio 1

In [ ]:
gamma_auto = {'Ada' : 'Punto', 'Ben' : 'Multipla', 'Charlie' : 'Golf', 'Debbie' : '107'}

In [ ]:
print(gamma_auto)

{'Ada': 'Punto', 'Ben': 'Multipla', 'Charlie': 'Golf', 'Debbie': '107'}

In [ ]:
print('l auto di Debbie è la', gamma_auto['Debbie'])

l auto di Debbie è la 107

Esercizio 2

In [2]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"}

In [ ]:
for auto in dizionario_auto.values():
    if auto != "Multipla":
        print(auto)

Punto
Golf
107

In [6]:
print(dizionario_auto.items())

dict_items([('Ada', 'Punto'), ('Ben', 'Multipla'), ('Charlie', 'Golf'), ('Debbie', '107')])

In [3]:
for nome, auto in dizionario_auto.items():
  print(f'{nome} possidede una {auto}')

Ada possidede una Punto
Ben possidede una Multipla
Charlie possidede una Golf
Debbie possidede una 107

Esercizio 3

In [4]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"}
nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"}

In [7]:
for key, values in nuovi_proprietari.items():
  dizionario_auto[key] = values
print(dizionario_auto)

{'Ada': 'Punto', 'Ben': 'Polo', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1', 'Fred': 'Octavia', 'Grace': 'Yaris', 'Hugh': 'Clio'}

In [ ]:
dizionario_auto.update(nuovi_proprietari)

In [ ]:
print("Dizionario Aggiornato:", dizionario_auto)

Dizionario Aggiornato: {'Ada': 'Punto', 'Ben': 'Polo', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1', 'Fred': 'Octavia', 'Grace': 'Yaris', 'Hugh': 'Clio'}

Esercizio 4 (dopo json)

In [8]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def min_max(n):
    max_value = max(n)
    min_value = min(n)
    return max_value, min_value

print(f"Min is {min_max(numbers)[1]} and Max is {min_max(numbers)[0]}")

Min is 1 and Max is 10

Esercizio 5

In [ ]:
def funzione(lista):
  i=3
  maxtre=[]
  while i>0:
    a=max(lista)
    maxtre.append(a)
    lista.remove(a)
    i-=1
  return maxtre

In [ ]:
numeri = [1, 2, 3, 4, 5, 6, 7]
v=funzione(numeri)
print(v)
print(numeri)

[7, 6, 5]
[1, 2, 3, 4]

Esercizio 6

In [9]:
def funzione(lista, k):
  maggiori=[]
  for numero in lista:
    if numero >= k:
      maggiori.append(numero)
  a=sum(maggiori)/len(maggiori)
  return a

In [10]:
numeri=[1, 2, 5, 7, 10]
a=5
print(funzione(numeri, a))

7.333333333333333

Esercizio 7

In [ ]:
def star(lista):
  for numero in lista:
    print('*'*numero)

In [ ]:
numeri = [1, 2, 3, 4, 5, 4, 3, 2, 1]
star(numeri)

*
**
***
****
*****
****
***
**
*