In [1]:
import pandas as pd

Esercizio 1

In [2]:
file_path = "C:\\Users\\Flavia\\Desktop\\4 MODULO\\Database di prova\\Mappa-dei-pub-circoli-locali-in-Italia.json"
pub= pd.read_json(file_path, encoding='latin1')

In [3]:
Esercizio 2

SyntaxError: invalid syntax (2089045135.py, line 1)

In [ ]:
#1
pub.shape

In [ ]:
#2 modo per ricavare i metadati sul dataframe, ovvero nomi colonne, numeri colonne, tipi colonne, valori nulli, n.righe 
pub.info()

In [ ]:
#2
pub.describe()

In [ ]:
#3
pub.head(1)

In [ ]:
#3 loc si basa sulle colonne
pub.loc[0]
pub.loc[0,'ccomune']

In [ ]:
#3 iloc si basa più sulle righe
pub.iloc[0]
pub.iloc[0]['ccomune']

In [ ]:
#4
pub.tail(1)

In [ ]:
#4 parentesi quadreeeeee
pub.iloc[-1]

In [ ]:
#5
pub.sample()

In [ ]:
#5 per creare una lista da columns
list(pub.columns)

In [ ]:
#6
anni_presenti = pub["canno_inserimento"].unique()
print(anni_presenti)

In [ ]:
#6per farlo diventare una lista
list(anni_presenti)
print(anni_presenti)

In [ ]:
#7
filtrolon = (pub["clongitudine"] >= 9) & (pub["clongitudine"] <= 10)
filtrolat = (pub["clatitudine"] >= 45) & (pub["clatitudine"] <= 46)
selezione = pub.loc[filtrolon & filtrolat, 'cnome'].value_counts()
print(selezione)

In [ ]:
#8
filtro=pub.cprovincia == 'VICENZA'
print(filtro)

In [ ]:
att_vic=pub.loc[filtro, 'cprovincia'].value_counts()
print(att_vic)

In [ ]:
pub.query("cprovincia == 'VICENZA'")

In [ ]:
#9 quante enoteche
pub.loc[
    (pub["cnome"].str.contains('Eno')) | (pub["cnome"].str.contains('eno'))]

In [ ]:
#10
filtro1=pub.cregione == 'Lazio'
filtro2=pub.cregione == 'Abruzzo'
regioni = filtro1 | filtro2
attività=pub.loc[regioni, 'cregione'].value_counts()
print(attività)

In [ ]:
pub.loc[(pub["clongitudine"]<=10) & (9<=pub["clongitudine"]) & (45<=pub["clatitudine"]) & (pub["clatitudine"]<=46)].sort_values(by=["clongitudine", "clatitudine"], ascending=False)

In [5]:
#secondo database
file_path="C:\\Users\\Flavia\\Desktop\\4 MODULO\\Database di prova\\amazon.csv"
amazon = pd.read_csv(file_path)

In [6]:
amazon.shape

(20000, 2)

In [7]:
amazon.sample(10)

                                              reviewText  Positive
15086  I love the random locations, and especially in...         1
8034   This app does everything we wanted it to do.yo...         1
1362   I love twitter but I hate all the extra apps t...         1
14643  Great game, very fun, one star reviews decepti...         1
14753  I was really looking forward to trying out thi...         0
15926  I absolutely find strength and peace, grace an...         1
3563   Fix please, constant force close makes this do...         0
14724  A pimple popping game? Can you spell GROSS? Th...         0
13740  This app is so fun! I love the cats, but you c...         1
796    I love this game. it is so addicting and easy ...         1

In [ ]:
amazon.columns

In [8]:
amazon['Positive'].value_counts()

Positive
1    15233
0     4767
Name: count, dtype: int64

In [ ]:
positive_count = amazon['Positive'].value_counts()[1]
negative_count = amazon['Positive'].value_counts()[0]
print(positive_count)
print(negative_count)

In [9]:
positive_count = amazon['Positive'].value_counts(normalize=True)
print(positive_count)

Positive
1    0.76165
0    0.23835
Name: proportion, dtype: float64

In [13]:
#1 app
recensioni_app = amazon.reviewText.str.contains('app') | amazon.reviewText.str.contains('App')
amazon.loc[recensioni_app]

                                              reviewText  Positive
0      This is a one of the best apps acording to a b...         1
6      this is awesome and you don't need wi ti to pl...         1
9      this is by far the best free app that is avail...         1
14     this is one of the best apps in the world alon...         1
17     This is the best app ever. It makes it way eas...         1
...                                                  ...       ...
19983  I love this game so much that I play it every ...         1
19992  I love this app! cant get enough of it. its al...         1
19993  If I could rate 1,000,000,000,000,000,000,000 ...         1
19995  this app is fricken stupid.it froze on the kin...         0
19998  I love love love this app on my side of fashio...         1

[9486 rows x 2 columns]

In [12]:
#re sta per regular expression
import re
app = amazon.reviewText.str.contains("app", flags = re.IGNORECASE)
amazon.loc[app].sum()

reviewText    This is a one of the best apps acording to a b...
Positive                                                   7198
dtype: object

In [18]:
app.value_counts()

reviewText
False    10392
True      9608
Name: count, dtype: int64

In [16]:
#2 giochi
recensioni_giochi = amazon.reviewText.str.contains('giochi','game')
recensioni_giochi.value_counts()

reviewText
False    20000
Name: count, dtype: int64

In [ ]:
#3 4 e 5 quante recensioni raccomandano il prodotto e quante no - stampa esempi

In [ ]:
#5 più positive
kindle1 = amazon.reviewText.str.contains('kindle')
kindle1.value_counts()

In [ ]:
kindle2 = amazon.Positive == 1
filtro = kindle1 & kindle2

In [ ]:
kindle_positive = amazon.loc[filtro]
kindle_positive.Positive.value_counts()

In [14]:
file_path="C:\\Users\\Flavia\\Desktop\\4 MODULO\\Database di prova\\diabetes.csv"
diabete=pd.read_csv(file_path)

In [15]:
#1
diabete.shape

(768, 9)

In [ ]:
#1
diabete.head(5)

In [20]:
#2
diabete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Number of times pregnant                                                  768 non-null    int64
 1   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                                          768 non-null    int64
 3   Triceps skin fold thickness (mm)                                          768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                                            768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)                            768 non-null    float64
 6   Diabetes pedigree function                                                768 non-null    float64
 7   Age (years)                                                               768 non-null    int64
 8   Class variable                                                            768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [19]:
#3
diabete.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [22]:
#4
meno_20 = (diabete['Age (years)'] <20) 
v20_30 = (diabete['Age (years)'] >= 20) & (diabete['Age (years)'] <30)
v30_40 = (diabete['Age (years)'] >= 30) & (diabete['Age (years)'] <40)
v40_50 = (diabete['Age (years)'] >= 40) & (diabete['Age (years)'] <50)
piu_50 = (diabete['Age (years)'] >= 50)

In [23]:
diabete.loc[v20_30]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
3,1,89,66,23,94,28.1,0.167,21,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
20,3,126,88,41,235,39.3,0.704,27,0
23,9,119,80,35,0,29.0,0.263,29,1
...,...,...,...,...,...,...,...,...,...
753,0,181,88,44,510,43.3,0.222,26,1
758,1,106,76,0,0,37.5,0.197,26,0
760,2,88,58,26,16,28.4,0.766,22,0
764,2,122,70,27,0,36.8,0.340,27,0
767,1,93,70,31,0,30.4,0.315,23,0

In [24]:
media_diastolic_pressure = diabete.loc[v20_30]['Diastolic blood pressure (mm Hg)'].mean()
print(media_diastolic_pressure)

65.34848484848484

In [25]:
#raggruppa la colonna tra (colonna da raggruppare) per avere i dati della [select dell'aggregazione].funzione da applicare
diabete.groupby('Age (years)')['Diastolic blood pressure (mm Hg)'].mean()

Age (years)
21    65.936508
22    63.722222
23    64.315789
24    64.956522
25    59.666667
26    64.181818
27    73.500000
28    68.314286
29    68.241379
30    64.857143
31    64.375000
32    70.062500
33    65.647059
34    74.000000
35    75.600000
36    69.125000
37    75.947368
38    71.125000
39    72.666667
40    69.230769
41    67.590909
42    73.388889
43    78.461538
44    61.750000
45    83.066667
46    76.000000
47    78.333333
48    78.400000
49    81.400000
50    78.250000
51    84.500000
52    81.500000
53    79.000000
54    89.333333
55    70.250000
56    76.333333
57    76.800000
58    78.285714
59    74.000000
60    80.000000
61    76.000000
62    71.500000
63    78.000000
64    78.000000
65    78.666667
66    86.000000
67    72.666667
68    82.000000
69    81.000000
70    82.000000
72     0.000000
81    74.000000
Name: Diastolic blood pressure (mm Hg), dtype: float64

In [28]:
def agerange(age):
    if 20<=age<35:
        return '20-35'
    elif 35<age<50:
        return '35-50'
    else:
        return "50+"

diabete["agerange"] = diabete['Age (years)'].apply(agerange)

In [29]:
diabete.head()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable,agerange
0,6,148,72,35,0,33.6,0.627,50,1,50+
1,1,85,66,29,0,26.6,0.351,31,0,20-35
2,8,183,64,0,0,23.3,0.672,32,1,20-35
3,1,89,66,23,94,28.1,0.167,21,0,20-35
4,0,137,40,35,168,43.1,2.288,33,1,20-35

In [30]:
diabete.groupby('agerange')['Diastolic blood pressure (mm Hg)'].mean()

agerange
20-35    65.692623
35-50    73.392265
50+      78.090909
Name: Diastolic blood pressure (mm Hg), dtype: float64

In [32]:
#insurance
file_path="C:\\Users\\Flavia\\Desktop\\4 MODULO\\Database di prova\\insurance.csv"
insurance=pd.read_csv(file_path)

In [33]:
#1 
insurance.shape

(1338, 7)

In [34]:
insurance.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [35]:
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [36]:
insurance.groupby('region')['charges'].mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [42]:
insurance.groupby('region')['smoker'].value_counts(normalize=True)

region     smoker
northeast  no        0.793210
           yes       0.206790
northwest  no        0.821538
           yes       0.178462
southeast  no        0.750000
           yes       0.250000
southwest  no        0.821538
           yes       0.178462
Name: proportion, dtype: float64

In [43]:
insurance.groupby('region')['sex'].value_counts(normalize=True)

region     sex
northeast  male      0.503086
           female    0.496914
northwest  female    0.504615
           male      0.495385
southeast  male      0.519231
           female    0.480769
southwest  male      0.501538
           female    0.498462
Name: proportion, dtype: float64

In [44]:
insurance.bmi.describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [61]:
BMI = insurance.groupby("bmi")["charges"].describe()
BMI.corr()

,count,mean,std,min,25%,50%,75%,max
count,1.000000,-0.031919,0.133599,-0.374741,-0.283616,-0.137787,0.129977,0.379203
mean,-0.031919,1.000000,0.801851,0.824302,0.921668,0.965657,0.952834,0.832013
std,0.133599,0.801851,1.000000,-0.055200,0.381744,0.610214,0.847861,0.918576
min,-0.374741,0.824302,-0.055200,1.000000,0.957133,0.830257,0.631326,0.409780
25%,-0.283616,0.921668,0.381744,0.957133,1.000000,0.944562,0.774376,0.564608
50%,-0.137787,0.965657,0.610214,0.830257,0.944562,1.000000,0.901354,0.716481
75%,0.129977,0.952834,0.847861,0.631326,0.774376,0.901354,1.000000,0.916863
max,0.379203,0.832013,0.918576,0.409780,0.564608,0.716481,0.916863,1.000000

In [45]:
charges_quartiles = pd.qcut(insurance['bmi'], q=[0, 0.25, 0.5, 0.75, 1.0], labels=['Q1', 'Q2', 'Q3', 'Q4'])
charges_summary_by_bmi_quartiles = insurance.groupby(charges_quartiles)['charges'].agg(['min', 'mean', 'max'])
print("\nMinimo, media e massimo di charges rispetto ai diversi quartili di bmi:")
print(charges_summary_by_bmi_quartiles)

Minimo, media e massimo di charges rispetto ai diversi quartili di bmi:
           min          mean          max
bmi
Q1   1121.8739  10360.662825  38245.59327
Q2   1131.5066  11407.831468  62592.87309
Q3   1135.9407  14358.173081  60021.39897
Q4   1141.4451  16987.936691  63770.42801

In [46]:
file_path="C:\\Users\\Flavia\\Desktop\\4 MODULO\\Database di prova\\pokemon.csv"
pokemon=pd.read_csv(file_path)

In [47]:
pokemon.shape

(800, 13)

In [48]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [53]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [70]:
valori_univoci=len(pokemon['#'].unique())
print(valori_univoci)

721

In [72]:
(pokemon.index == pokemon['#']).all()

False

In [73]:
pokemon.set_index('#', inplace=True)

In [75]:
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False